<form class="form form--activate-tv" id="activate-tv__form" autocomplete="off">
    <h2 class="activate-tv__title title">ACTIVAR TV</h2>

    <div class="activate-tv__tvOptions">
      <div class="activate-tv__number">
        <h3 class="activate-tv__subtitle subtitle">Nº</h3>
        <select
          required="true"
          name="activateTvNumber"
          class="activate-tv__select select"
          id="form-tvNumber"
        >
          <option id="activate-tv__option--0" value="">0</option>
          <option id="activate-tv__option--1" value="1">1</option>
          <option id="activate-tv__option--2" value="2">2</option>
          <option id="activate-tv__option--3" value="3">3</option>
          <option id="activate-tv__option--4" value="4">4</option>
          <option id="activate-tv__option--5" value="5">5</option>
          <option id="activate-tv__option--6" value="6">6</option>
          <option id="activate-tv__option--7" value="7">7</option>
          <option id="activate-tv__option--8" value="8">8</option>
          <option id="activate-tv__option--9" value="9">9</option>
          <option id="activate-tv__option--10" value="10">10</option>
        </select>
      </div>

      <div class="activate-tv__tiempo">
        <h3 class="activate-tv__subtitle subtitle">TIEMPO</h3>
        <div class="activate-tv__timmer">
          <select
            class="activate-tv__select select activate-tv__select--hours"
            name="activateTvHours"
            id="form-hours"
          >
            <option value="">00</option>
            <option value="1">1h</option>
            <option value="2">2h</option>
            <option value="3">3h</option>
            <option value="4">4h</option>
            <option value="5">5h</option>
            <option value="6">6h</option>
            <option value="7">7h</option>
            <option value="8">8h</option>
            <option value="unlimited" style="font-size: 20px">
              Libre
            </option>
          </select>

          <select
            class="activate-tv__select select activate-tv__select--minutes"
            name="activateTvMinutes"
            id="form-minutes"
          >
            <option value="00">00</option>
            <option value="30">30m</option>
            <option value="6">6m</option>
            <option value="5">5m</option>
            <option value="1">1m</option>
            <option value="0.5">0.1m</option>
          </select>
        </div>
      </div>
    </div>

    

    <input
      class="activate-tv__user user-input"
      required
      type="text"
      name="activateTvUser"
      placeholder="Usuario"
      id="form-user"
    />
    <input
      class="activate-tv__pass user-input"
      required
      type="password"
      name="activateTvPass"
      placeholder="Clave"
      id="form-pass"
    />

    <div class="activate-tv__is-user">
      <div
        class="is-user__selector is-user__selector--si"
        id="selector-si"
      >
        REGISTRADO
      </div>
      <div
        class="is-user__selector is-user__selector--no"
        id="selector-no"
      >
        NO REGISTRADO
      </div>
    </div>

    <button
      class="activate-tv__button user-button"
      id="activate-tv__button"
      value="ACTIVAR"
    >
      ACTIVAR
    </button>
</form>

<form action="" class="form form--client-check" id="client-check__form">
    <h2 class="client-registration__balance title">
      SALDO
    </h2>
    <input
      class="client-check__user user-input"
      required
      type="text"
      name="clientCheckUser"
      placeholder="Usuario"
      id="client-check__user"
      autocomplete="off"
    />
    
    <button
      class="client-check__button user-button"
      id="client-check__button"
      value="ACTIVAR"
    >
      CONSULTAR
    </button>
    </form>
    
<form action="" class="form form--client-registration" id="client-registration__form">
    <h2 class="client-registration__title title">
      REGISTRAR CLIENTE
    </h2>
    <input
      class="client-registration__user user-input"
      required
      type="text"
      name="clientRegistrationUser"
      placeholder="Usuario"
      id="client-registration__user"
      autocomplete="off"
    />
    <input
      class="client-registration__pass user-input"
      required
      type="password"
      name="clientRegistrationPass"
      placeholder="Clave"
      id="client-registration__pass"
      autocomplete="off"
    />
    <input
      class="client-registration__pass-repeat user-input"
      required
      type="password"
      name="clientRegistrationPassRepeat"
      placeholder="Repetir Clave"
      id="client-registration__pass-repeat"
      autocomplete="off"
    />
    <button
      class="client-registration__button user-button"
      id="client-registration__button"
      value="RECARGAR"
    >
      REGISTRAR
    </button>
</form>

<form action="" class="form --form client-update" id="client-update__form">
    <h2 class="client-update__title title">RECARGAR CLIENTE</h2>
    <div class="client-update__tiempo">
      <h3 class="client-update__subtitle subtitle">TIEMPO</h3>
      <select
        class="client-update__select select client-update__select--hours"
        name="clientUpdateHours"
        id="client-update__hours"
      >
        <option value="0">00</option>
        <option value="1">1h</option>
        <option value="2">2h</option>
        <option value="3">3h</option>
        <option value="4">4h</option>
        <option value="5">5h</option>
        <option value="6">6h</option>
        <option value="7">7h</option>
        <option value="8">8h</option>
      </select>
    </div>
    <input
      class="client-update__user user-input"
      required
      type="text"
      name="clientUpdateUser"
      placeholder="Usuario"
      id="client-update__user"
      autocomplete="off"
    />

    <button
      class="client-update__button user-button"
      id="client-update__button"
      value="RECARGAR"
    >
      RECARGAR
    </button>
  </form>

<table class="table table--history" id="history">

</table>


