<div class="tvs-container">
    <div class="tv "id='tv--1'>
      <div class="tv__content" id="tv__content--1"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--1"
        onclick="deactivateTv(1)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--2'>
      <div class="tv__content" id="tv__content--2"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--2"
        onclick="deactivateTv(2)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--3'>
      <div class="tv__content" id="tv__content--3"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--3"
        onclick="deactivateTv(3)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--4'>
      <div class="tv__content" id="tv__content--4"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--4"
        onclick="deactivateTv(4)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--5'>
      <div class="tv__content" id="tv__content--5"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--5"
        onclick="deactivateTv(5)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--6'>
      <div class="tv__content" id="tv__content--6"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--6"
        onclick="deactivateTv(6)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--7'>
      <div class="tv__content" id="tv__content--7"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--7"
        onclick="deactivateTv(7)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--8'>
      <div class="tv__content" id="tv__content--8"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--8"
        onclick="deactivateTv(8)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv "id='tv--9'>
      <div class="tv__content" id="tv__content--9"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--9"
        onclick="deactivateTv(9)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
    <div class="tv" id='tv--10'>
      <div class="tv__content" id="tv__content--10"></div>
      <img
        class="tv__close-icon"
        id="tv__close-icon--10"
        onclick="deactivateTv(10)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
      />
    </div>
</div>
  