body{
    --header_bg_color:rgb(151, 151, 238);
    --main-title-color:#444;
    --form-text-color:black;
    --form-bg-color:rgb(236, 236, 236);
    --selector-bg-color: rgb(6, 183, 106);
    --selector-font-color: rgba(0, 30, 0);
    --button-border-color:gray;
    --selector-active-color: rgb(2, 20, 77, 1) ;
    --selector-inactive-color: rgb(56, 56, 56);

    /* tvs container */

    /* tv */
    --tv-bg-color:rgb(26, 165, 79);
    --tv-active-bg-color: rgb(61, 170, 163);
    --tv-inactive-bg-color:rgb(170, 154, 61);

    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    background-image: url(./../images/27489.png);
    background-repeat: no-repeat;
    

}
form{
    background-color: var(--form-background-color)  ;
    color: var(--form-text-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    width:500px;
    height: 80vh;
    padding: 30px 10px;

}

.title{
    letter-spacing: 5px;
    font-size: 5em;
    grid-column: 1 / -1;
    text-align: center;
    font-family: 'Rubik Glitch', cursive;
}


.activate-tv__is-user{
    height: 50%;
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-top:20px;
    color:white;
}

.is-user__selector {
    cursor: pointer;
    width:10em;
    background-color: var(--selector-inactive-color);
    font-size: 2.2em;
    padding: 2px;
    border: 1px solid var(--button-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:8px;
    margin-bottom:15px;
}

.is-user__selector--si{
    color:white;
    cursor: pointer;
    background-color: var(--selector-active-color);
}

.select{
    /* desactivar la flecha */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:40px;
    height:40px;
    text-align: center;
    font-size: 3em;

    border-radius: 10px;
}




.activate-tv__tvOptions{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    
   
}

.subtitle{
    font-size: 2em;
    font-family: 'Rubik Glitch', cursive;
}

.activate-tv__number, .activate-tv__tiempo{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:4px;
}

.activate-tv__user , .activate-tv__pass{
    margin: 0 100px;
    font-size: 3em;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius:6px;
    border-color: #aaa;
}

.activate-tv__button{
    font-family: 'Rubik Glitch', cursive;
    margin:10px 100px;
    font-size: 3em;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 25px;

}

/* MOSTRAR RESPUESTAS DEL SERVIDOR */

.server-responses{

    font-size: 3em;
}

.server-responses-title{
    color:black
}

.mostrar-datos{
    border:5px solid pink
}

.main{

    display:grid;
    grid-template-columns: auto minmax(600px, 700px);
    grid-template-rows: minmax(300px, 400px) 30px ;

}

.add-tv{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display:flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 99;
}



.select{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:4px;
}

.user-input{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:4px;

    margin: 0 100px;
    font-size: 3em;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius:6px;
    border-color: #aaa;
}

.user-button{
    margin:10px 100px;
    font-size: 3em;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 25px;
    font-family: 'Rubik Glitch', cursive;
}

.client-check__form, .client-registration__form, .client-update__form{
    background-color: var(--form-background-color)  ;
    color: var(--form-text-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    width:500px;
    height: 80vh;
    padding: 30px 10px;
}

.control-panel{
    display: flex;
    justify-content: center;
    position:relative;
}

.client-check{
    position:absolute;
    top:0;
    z-index: 1;
    display:none

} 
.client-registration{
    position:absolute;
    top:0;
    z-index: 2;
    display:none
} 

.client-update{
    position:absolute;
    top:0;
    z-index:3;
    display:none
}

.client-update__tiempo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

