*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1vh;
    font-family: 'Rubik Glitch', cursive;
    --header_bg_color:rgb(151, 151, 238);
    --main-title-color:#444;
    --form-text-color:white;
    --form-bg-color:rgb(236, 236, 236);
    --selector-bg-color: rgb(6, 183, 106);
    --selector-font-color: rgba(0, 30, 0);
    --button-border-color:gray;
    --selector-active-color: rgb(197, 193, 193);
    --selector-inactive-color: rgb(93, 93, 93);
}

.not-selectable{
    /* Hacer no seleccionable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
.header-wrapper{
    grid-column: 1/-1;
    background: linear-gradient(to right, #232346, black);
    display: grid;
    grid-template-columns: 20% 40% 40% ;
    grid-template-rows: 1fr;
    border-bottom: 3px solid rgba(255, 0, 0, 0.563);
}
    .header__icon{
        grid-row: 1/2;
        grid-column: 1/2;
        max-height: 12vh;
        margin:10px 5px 10px 20px;

        animation-name:icon-moviment;
        animation-duration: 0.5s;

    }
    @keyframes icon-moviment {
        0%{
            transform: translateX(100vw);
            
        }
        95%{
            transform: scale(90%);
        }
        100%{
            transform: translateX(0px);
        }
    }

    /* MOSTRAR RESPUESTAS DEL SERVIDOR */
    .server-responses{
        grid-column: 3 / 4;
        text-align: center;
        font-size: 15px;
        font-weight: lighter;
        letter-spacing: 10px;
        color:red;
        border-radius: 20px;
        text-shadow: 1px 2px 10px var(--text-shadow);
        margin-top: 15px;

        display:grid;
        place-content: center;

        margin: 10px;

    }




