
.navigation-bar{
    grid-row: 2/3;
    grid-column: 1/-1;
    height:40px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.8));
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.nav__button{
    font-size: 3em;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.885);
    /* border: 1px solid var(--nav-button-border-color); */
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 0px 2px rgba(0, 17, 255, 0.89);
    box-shadow: --box-shadow;
}

.nav__button:hover{
    opacity: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: var(--box-shadow)
}

.tv__content{
    display: flex;
    justify-content: space-between;
}

.tv__number{
    font-weight: lighter;
    font-size: 1.5em;
    margin-left:20px;
    margin-right:40px;
    width:30px;
    text-align: center;
    color:#7C8C92;
    text-shadow: 1px 1px 15px  #43517B;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tv__leftTime{
    font-size: 1.3em;
    text-align: center;
    border-radius: 10px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.tv{
    font-size: 3.5em;
    font-weight: lighter;
    border-radius: 5px;
    background-color: #161b2c39;
    display: flex;
    justify-content:space-between;
}

.tv:hover{
    transform:scale(120%) translateX(-2vw);
    cursor: pointer;
    border:2px solid rgba(0, 0, 255, 0.493)
}

.tv__close-icon{
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: auto 0;
    margin-right: 10px;
}

.tv__close-icon:hover{
    opacity: 30%;
}

.tv__close-icon--inactive{
    display:none;
}

.tv__close-icon--active{
    display:inline;
}

.tv--inactive{
    background-color: rgba(0, 0, 0, 0.27);
    color:rgba(255, 255, 255, 0.17);
    text-shadow: 1px 1px 10px #8D7F7D;
}

.tv--active{
    background-color: rgba(172, 255, 47, 0.05);
    color:#8D7F7D;
    box-shadow:var(--box-shadow);
    border: 2px solid var(--borders);
    
}

.tv__leftTime--completado{
    border:none;
    color:transparent;
    animation-name: intermintent;
    animation-duration: 0.33s;
    animation-iteration-count: infinite;
    text-shadow: none;
    color:transparent;
    box-shadow:-1px -1px 5px #ff00005e ;
}

@keyframes intermintent {

    50%, 100% {
        color:red;
    }

}

.tvs-container{
    grid-column: 2/3;
    grid-row: 3/4;
    display:grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;
    border-left: 3px solid black;
    margin-bottom: 36px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;

}

