<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="control-panel">
  <div class="login-wrapper">
    <form action="" id="login__form" class="form form--login">
        <h2 class="login__title title">
          Iniciar Sesión
        </h2>
        <input type="text" name="user" class="user-input" placeholder="Usuario" autofocus>
        <input type="password" name="pass" class="user-input" placeholder="Clave">
        <input type="submit" value="Enviar" class="user-button">
      </form>
  </div>
</div>
<script src="/public/javaScript/sendLoginForm.js"></script>


